In [ ]:
# My python excercises
# Some of them are from GDAC(Google) course

In [4]:
# Function to calculate the number of days in a variable of
# years,months and days.

def find_total_days(years,months,days):
    my_days=(years*365)+(months*30)+days
    return my_days
print("In two years five months and 23 days are",find_total_days(2,5,23),"days")

In two years five months and 23 days are 903 days

In [7]:
# Function to convert fluid ounces to milimiters

def convert_volume(fluid_ounce):
    ml=fluid_ounce*29.5
    return ml
print("The volume in milimiters is: "+str(convert_volume(2)))
print("The volume in milimiters is: "+str(convert_volume(2)*2))

The volume in milimiters is: 59.0
The volume in milimiters is: 118.0

In [8]:
# Is the stated number a number positive? Let's find out!

def is_positive(number):
    if number>0:
        return True
    else:
        return False
print(is_positive(-5))
print(is_positive(0))
print(is_positive(13))

False
False
True

In [20]:
# Convert seconds

def convert_seconds(seconds):
    hours=seconds//3600
    minutes=(seconds-hours*3600)//60
    remaining_seconds=seconds-hours*3600-minutes*60
    return(hours,minutes,remaining_seconds)
print(convert_seconds(5000),"In 5000 seconds there is 1 hour 23 minutes and 20 seconds")

(1, 23, 20) In 5000 seconds there is 1 hour 23 minutes and 20 seconds

In [25]:
# Let's create a username

def hint_username(username):
    if len(username)<6:
        print("invalid username.Must be at least 6 characters long")
    elif len(username)>15:
        print("Invalid username.Must be at most 15 characters long")
    else:
        print("Got it!, valid username")

hint_username("jaime")
hint_username("jaimeadiazc58968")
hint_username("jaimeadiazc")

invalid username.Must be at least 6 characters long
Invalid username.Must be at most 15 characters long
Got it!, valid username

In [29]:
# This function accepts one variable as a parameter:

def translate_error_code(code):
    if code==401:
        translation="Server received an unauthenticated request"
    elif code==404:
        translation="Requested website not found"
    elif code==408:
        translation="Server request to close unused connection"
    else:
        translation="Unknown error"
    return translation
print(translate_error_code(401))
print(translate_error_code(404))
print(translate_error_code(408))
print(translate_error_code(41000))

Server received an unauthenticated request
Requested website not found
Server request to close unused connection
Unknown error

In [31]:
# Let me guess the number

number=int(input())
if number<=5:
    print("The number is 5 or smaller")
elif number==33:
    print("The number is 33")
elif number<32 and number>=6:
    print("The number is less than 32 and greater than 6")
else:
    print("The number is: {}".format(number))
    
# Input 4 ->"The number is 5 or smaller"
# Input 33-> "The number is 33"
# Input 15 -> "The number is less than 32 and greater than 6"
# Input 15235-> The number is 15235

The number is: 15235

In [32]:
# If a filesystem has a block of 4096 bytes,this means that a file
# comprised of only 1 byte will still use 4096 bytes of storage
# a file made up of 4097 bytes will use 4096*2=8192 bytes of storage
# Knowing this can you fill the gaps?

def calculate_storage(filesize):
    blocksize=4096
    full_blocks=filesize//blocksize
    partial_block_remainder=filesize%blocksize
    if partial_block_remainder>0:
        return (full_blocks+1)*blocksize
    return full_blocks*blocksize

print(calculate_storage(1))
print(calculate_storage(4096))
print(calculate_storage(4097))
print(calculate_storage(10000))

4096
4096
8192
12288

In [35]:
# Speed radar tickets! km/h

def speed_ticket(speed):
    if speed>=140:
        ticket="Reckless driver! ticket EUR 2.174"
    elif speed>130 and speed<140:
        ticket="Ticket EUR 695"
    else:
        ticket="safe!"
    return ticket

print(speed_ticket(145))
print(speed_ticket(135))
print(speed_ticket(80))

Reckless driver! ticket EUR 2.174
Ticket EUR 695
safe!

In [ ]:
# LOOPS

In [2]:
x=0
while x<5:
    print("no there yet!,x="+str(x))
    x+=1
print("x="+str(x))

no there yet!,x=0
no there yet!,x=1
no there yet!,x=2
no there yet!,x=3
no there yet!,x=4
x=5

In [4]:
def attempts(n):
    x=1
    while x<=n:
        print("Attempt "+str(x))
        x+=1
    print("Done!")
attempts(5)

Attempt 1
Attempt 2
Attempt 3
Attempt 4
Attempt 5
Done!

In [7]:
my_variable=5
while my_variable<10:
    print("Hello!")
    my_variable+=1

Hello!
Hello!
Hello!
Hello!
Hello!

In [9]:
x=1
sum=0
while x<10:
    sum+=1
    x+=1
product=1
while x<10:
    product=product*x
    x+=1
print(sum,product)

9 1

In [15]:
multiplier=1
result=multiplier*5
while result<=50:
    print(result)
    multiplier+=1
    result=multiplier*5
print("Done!")

5
10
15
20
25
30
35
40
45
50
Done!

In [25]:
# Additional table
def addition_table(given_number):
    iterated_number=1
    my_sum=1
    while iterated_number<=5:
        my_sum=given_number+iterated_number
        if my_sum>20:
            break
            
        print(str(given_number),"+",str(iterated_number),"=",str(my_sum))
        iterated_number+=1
print("Addition table of 5")
addition_table(5)
print("Addition table of 17")
addition_table(17)

Addition table of 5
5 + 1 = 6
5 + 2 = 7
5 + 3 = 8
5 + 4 = 9
5 + 5 = 10
Addition table of 17
17 + 1 = 18
17 + 2 = 19
17 + 3 = 20

In [28]:
# Multiplication table
def multiplication_table(number):
    multiplier=1
    while multiplier<=5:
        result=number*multiplier
        if result>=26:
            break
        print(str(number),"X",str(multiplier)+"=",str(result))
        multiplier+=1
multiplication_table(2)

2 X 1= 2
2 X 2= 4
2 X 3= 6
2 X 4= 8
2 X 5= 10

In [30]:
# For Loops
for x in range(5):
    print(x)

0
1
2
3
4

In [32]:
for x in range(3):
    print("Hola!")

Hola!
Hola!
Hola!

In [68]:
friends=["James","David","Michael","Ellie"]
for friend in friends:
    print("Hi! "+friend)

Hi! James
Hi! David
Hi! Michael
Hi! Ellie

In [36]:
print("My friends are:")
friends=["James","David","Michael","Ellie"]
for index,friend in enumerate(friends):
    print(index+1,friend)

My friends are:
1 James
2 David
3 Michael
4 Ellie

In [38]:
values=[23,52,59,37,48]
sum=0
length=0
for value in values:
    sum+=value
    length+=1
print("Total sum: "+str(sum)+" -Average: "+str(sum/length))

Total sum: 219 -Average: 43.8

In [47]:
# Convert temperature from Fahrenheit to Celsius
def to_celsius(x):
    return(x-32)*5/9
for x in range(0,101,10):
    print("{:>3}F|{:6.2f}C".format(x,to_celsius(x)))

  0F|-17.78C
 10F|-12.22C
 20F| -6.67C
 30F| -1.11C
 40F|  4.44C
 50F| 10.00C
 60F| 15.56C
 70F| 21.11C
 80F| 26.67C
 90F| 32.22C
100F| 37.78C

In [48]:
for n in range(2,11,2):
    print(n)

2
4
6
8
10

In [49]:
for number in range(2,7+1):
    print(number*3)

6
9
12
15
18
21

In [50]:
for x in range(2,-2,-1):
    print(x)

2
1
0
-1

In [ ]:
# NESTED FOR LOOPS

In [74]:
for x in range(2):
    print("This is the outer loop iteration number "+str(x))
    for y in range(3+1):
        print("Inner loop iteration number "+str(y))
    print("Exit inner loop")

This is the outer loop iteration number 0
Inner loop iteration number 0
Inner loop iteration number 1
Inner loop iteration number 2
Inner loop iteration number 3
Exit inner loop
This is the outer loop iteration number 1
Inner loop iteration number 0
Inner loop iteration number 1
Inner loop iteration number 2
Inner loop iteration number 3
Exit inner loop

In [1]:
# Dominoes
print("Dominoes!\n")
for x in range(7):
    for y in range(x,7):
        print(f"[{x}|{y}]",end=" ")
    print()

Dominoes!

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [7]:
for x in range(10):
    for y in range(x+1):
        print("* ",end=" ")
    print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *

In [77]:
print("Let's get ready to rumble!\n")
teams=["Milan","Juventus","AS Roma","Napoli"]
for home_team in teams:
    for away_team in teams:
        if home_team!=away_team:
            print(home_team,"VS",away_team)

Let's get ready to rumble!

Milan VS Juventus
Milan VS AS Roma
Milan VS Napoli
Juventus VS Milan
Juventus VS AS Roma
Juventus VS Napoli
AS Roma VS Milan
AS Roma VS Juventus
AS Roma VS Napoli
Napoli VS Milan
Napoli VS Juventus
Napoli VS AS Roma

In [71]:
def greet_friends(friends):
    for friend in friends:
        print("Hi "+friend+"!")
greet_friends(["James","David","Michael","Ellie"])

Hi James!
Hi David!
Hi Michael!
Hi Ellie!

In [ ]:
# Strings, Lists and dictionaries

In [ ]:
# Strings
# String are immutable

In [53]:
message="A kong string with a silly typo"
print(type(message))
print("Wheres is k?",message.index("k"))
new_message=message[0:2]+"l"+message[3:]
print(new_message)

<class 'str'>
Wheres is k? 2
A long string with a silly typo

In [8]:
# A Functions to replace email domains

def replace_domain(email,old_domain,new_domain):
    if "@" +old_domain in email:
        index=email.index("@"+old_domain)
        new_email=email[:index]+"@"+new_domain
        return new_email
    return email
replace_domain("emma@oldcompany.com","oldcompany.com","newcompany.com")

'emma@newcompany.com'

In [27]:
name="Manny"
number=len(name)*3
print("Hello! {}, your lucky number is {}".format(name,number))

Hello! Manny, your lucky number is 15

In [28]:
price=7.5
with_tax=price*1.09
print(price,with_tax)
print()
print("Base price:${:.2f}. With Tax:${:.2f}".format(price,with_tax))

7.5 8.175

Base price:$7.50. With Tax:$8.18

In [31]:
# Function to convert measurement equivalents

def convert_weight(ounces):
    pounds=ounces/16
    result="{} ounces equals {:.2f} pounds".format(ounces,pounds)
    return result
print(convert_weight(12))
print(convert_weight(50.5))
print(convert_weight(16))

12 ounces equals 0.75 pounds
50.5 ounces equals 3.16 pounds
16 ounces equals 1.00 pounds

In [37]:
# Function to generate a user name

def username(last_name,birth_year):
    return("{}{}".format(last_name[0:3].lower(),birth_year*2))
print(username("Ivanov",1985))
print(username("Rodriguez",2000))
print(username("Deng",1991))

iva3970
rod4000
den3982

In [41]:
# Is palindrome?

def is_palindrome(input_string):
    new_string=""
    reverse_string=""
    for letter in input_string:
        if letter!=" ":
            new_string+=letter
            reverse_string=letter+reverse_string
    if new_string.lower()==reverse_string.lower():
        print("Is palindrome")
    else:
        print("Is not")
print(is_palindrome("Kayak"))
print(is_palindrome("Otto"))
print(is_palindrome("Home"))

Is palindrome
None
Is palindrome
None
Is not
None

In [3]:
# Function to convert distance miles to km

def convert_distance(miles):
    km=miles*1.6
    result="{} miles equals {:.1f} Km".format(miles,km)
    return result
print(convert_distance(12))
print(convert_distance(5.5))
print(convert_distance(11))

12 miles equals 19.2 Km
5.5 miles equals 8.8 Km
11 miles equals 17.6 Km

In [16]:
# Iterating over lists and tuples
# Are mutable

True

In [4]:
animals=["Lion","Zebra","Dolphin","Monkey"]
chars=0
for animal in animals:
    chars+=len(animal)
print("Total characters: {},average lenght:{}".format(chars,chars/len(animals)))

Total characters: 22,average lenght:5.5

In [5]:
winners=["Ashley","Dylan","Reese"]
for index, person in enumerate(winners):
    print("{}-{}".format(index+1,person))

1-Ashley
2-Dylan
3-Reese

In [6]:
def full_emails(people):
    result=[]
    for email,name in people:
        result.append("{}<{}>".format(name,email))
    return result
full_emails([("alex@example.com","Alex Diego"),("Shay@example.com","Shay Brandt")])

['Alex Diego<alex@example.com>', 'Shay Brandt<Shay@example.com>']

In [7]:
languages=["Python","Perl","Ruby","Go","Java","C"]
lengths=[len(language)for language in languages]
print(lengths)

[6, 4, 4, 2, 4, 1]

In [8]:
years=["January 2023","May 2025","April 2023","August 2024","September 2025"]
updated_years=[]
for year in years:
    if year.endswith("2023"):
        new=year.replace("2023","2024")
        updated_years.append(new)
    else:
        updated_years.append(year)
    print(updated_years)

['January 2024']
['January 2024', 'May 2025']
['January 2024', 'May 2025', 'April 2024']
['January 2024', 'May 2025', 'April 2024', 'August 2024']
['January 2024', 'May 2025', 'April 2024', 'August 2024', 'September 2025']

In [10]:
def group_list(group,users):
    members=",".join(users)
    return("{}: {}".format(group,members))
print(group_list("Marketing",["Mike","Karen","Jake","Tasha"]))
print(group_list("Engineering",["kim","Jay","Tom"]))
print(group_list("Users",""))

Marketing: Mike,Karen,Jake,Tasha
Engineering: kim,Jay,Tom
Users:

In [12]:
def guest_list(guests):
    for guest in guests:
        name,age,job=guest
        print("{} is {} years old and works as {}".format(name,age,job))
guest_list([("Ken",30,"Chef"),("Pat",35,"Lawyer"),("Amanda",25,"Engineer")])

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

In [ ]:
# Dictionaries

In [15]:
file_counts={"jpg":10,"txt":14,"csv":2,"py":23}
for extension in file_counts:
    print(extension)

jpg
txt
csv
py

In [16]:
for extension,amount in file_counts.items():
    print("There are {} files with the .{} extension".format(amount,extension))

There are 10 files with the .jpg extension
There are 14 files with the .txt extension
There are 2 files with the .csv extension
There are 23 files with the .py extension

In [17]:
file_counts.keys()

dict_keys(['jpg', 'txt', 'csv', 'py'])

In [18]:
file_counts.values()

dict_values([10, 14, 2, 23])

In [20]:
for value in file_counts.values():
    print(value)

10
14
2
23

In [23]:
def count_letters(text):
    result={}
    for letter in text:
        if letter not in result:
            result[letter]=0
        result[letter]+=1
    return(result)
print(count_letters("James"))
print(count_letters("Tenant"))
print(count_letters("A long string with a lot of letters"))
print(count_letters(""))

{'J': 1, 'a': 1, 'm': 1, 'e': 1, 's': 1}
{'T': 1, 'e': 1, 'n': 2, 'a': 1, 't': 1}
{'A': 1, ' ': 7, 'l': 3, 'o': 3, 'n': 2, 'g': 2, 's': 2, 't': 5, 'r': 2, 'i': 2, 'w': 1, 'h': 1, 'a': 1, 'f': 1, 'e': 2}
{}

In [ ]:
# Dictionary vs List

In [24]:
#List

pet_list=["Yorkie","Collie","Bulldog","Persian","Scottish Fold","Siberian"]
pet_list[0:3]

['Yorkie', 'Collie', 'Bulldog']

In [27]:
# Dictionary

pet_dictionary={"Dogs":["Yorkie","Collie","Bulldog","Persian","Scottish Fold","Siberian"],"Cats":["Persian","Bengalee","Ragdoll"]}
pet_dictionary.get("Dogs",0)

['Yorkie', 'Collie', 'Bulldog', 'Persian', 'Scottish Fold', 'Siberian']

In [30]:
def sales_price(item_and_price):
    item=""
    price=""
    item_or_price=item_and_price.split()
    for x in item_or_price:
        if x.isalpha():
            item+=x+" "
        else:
            price=x
    item=item.strip()
    return"{} are on sale for ${}".format(item,price)
sales_price("Winter fleece jacekts 49.99")

'Winter fleece jacekts are on sale for $49.99'

In [31]:
"Winter fleece jacekts are on sale for $49.99".split()

['Winter', 'fleece', 'jacekts', 'are', 'on', 'sale', 'for', '$49.99']

In [15]:
# While

In [16]:
num=1
sum=0
while num <=5:
    sum+=num
    num+=1
print("The sum of the first 5 numbers are:",sum)

The sum of the first 5 numbers are: 15

In [21]:
sum=0
while 0<=sum<=50:
    num=input("Insert number")
    num=int(num)
    sum+=num
print("The sum are:",sum)

The sum are: 60

In [ ]:
# For

In [24]:
price_list=[10,20,30,40,50]
index=0
while index<len(price_list):
    price=price_list[index]
    print("-",price)
    index+=1

- 10
- 20
- 30
- 40
- 50

In [26]:
price_list=[10,20,30,40,50]
for price in price_list:
    print("-",price)

- 10
- 20
- 30
- 40
- 50

In [28]:
together=1,4,6,7,2,8 #Tuple
for number in together:
    print(number*2)

2
8
12
14
4
16

In [29]:
salaries=[100,200,300,400]
for salary in salaries:
    print(salary+10)

110
210
310
410

In [31]:
word="Python"
for letter in word:
    print(letter+"!")

P!
y!
t!
h!
o!
n!

In [36]:
invoiced=[1400,2700,1900,3000,4200]
total=0
for invoice in invoiced:
    total+=invoice
print("Total invoiced:$",total)

Total invoiced:$ 13200

In [41]:
prices=[20,40,50,60,190,30]
discount_price=[]
for price in prices:
    print("Original price:",price)
    discount_price.append(price*0.8)
    print("Discount price:",price*0.8)
    print("\n")
print("End.")

Original price: 20
Discount price: 16.0


Original price: 40
Discount price: 32.0


Original price: 50
Discount price: 40.0


Original price: 60
Discount price: 48.0


Original price: 190
Discount price: 152.0


Original price: 30
Discount price: 24.0


End.

In [47]:
books=["Enciclopedia","Atlante","Dictionary"]
for book in books:
    print(book)

Enciclopedia
Atlante
Dictionary

In [48]:
for index,book in enumerate(books):
    print(index+1,book)

1 Enciclopedia
2 Atlante
3 Dictionary

In [50]:
for book in books:
    print("->",book)

-> Enciclopedia
-> Atlante
-> Dictionary

In [51]:
students=["Lucio","Silvio","Michela","Natalia"]
courses=["Engineering","Medicine","Cinema","Law"]
ages=[19,22,25,21]

In [52]:
for student,course,age in zip(students,courses,ages):
    print(student,"Goes to",course,"and it has",age,"Years.\n")

Lucio Goes to Engineering and it has 19 Years.

Silvio Goes to Medicine and it has 22 Years.

Michela Goes to Cinema and it has 25 Years.

Natalia Goes to Law and it has 21 Years.

In [ ]:
# Dataframe

In [54]:
import pandas as pd

In [55]:
data={"ciberseguridad":[10,20,30],"analista datos":[40,50,60]}
students=pd.DataFrame(data,index=["año1","año2","año3"])
students

      ciberseguridad  analista datos
año1              10              40
año2              20              50
año3              30              60

In [56]:
# Rename Columns

students.rename(columns={"ciberseguridad":"cybersecurity","analista datos":"data analyst"},inplace=True)
students

      cybersecurity  data analyst
año1             10            40
año2             20            50
año3             30            60

In [57]:
# Rename rows

students.rename(index={"año1":"Year 1","año2":"year 2","año3":"year 3"},inplace=True)
students

        cybersecurity  data analyst
Year 1             10            40
year 2             20            50
year 3             30            60

In [58]:
data={"ciberseguridad":[10,20,30],"analista datos":[40,50,60]}
students=pd.DataFrame(data,index=["año1","año2","año3"])
students

      ciberseguridad  analista datos
año1              10              40
año2              20              50
año3              30              60

In [59]:
# Rename rows and columns

students.rename(columns={"ciberseguridad":"cybersecurity","analista datos":"data analyst"},index={"año1":"Year 1","año2":"year 2","año3":"year3"},inplace=True)
students

        cybersecurity  data analyst
Year 1             10            40
year 2             20            50
year3              30            60